[submodule "modules/uuid"]
	path = modules/uuid
	url = git@github.com:boostorg/uuid.git
[submodule "modules/config"]
	path = modules/config
	url = git@github.com:boostorg/config.git
[submodule "modules/type_traits"]
	path = modules/type_traits
	url = git@github.com:boostorg/type_traits.git
[submodule "modules/mpl"]
	path = modules/mpl
	url = git@github.com:boostorg/mpl.git
[submodule "modules/preprocessor"]
	path = modules/preprocessor
	url = git@github.com:boostorg/preprocessor.git
[submodule "modules/throw_exception"]
	path = modules/throw_exception
	url = git@github.com:boostorg/throw_exception.git
[submodule "modules/assert"]
	path = modules/assert
	url = git@github.com:boostorg/assert.git
[submodule "modules/static_assert"]
	path = modules/static_assert
	url = git@github.com:boostorg/static_assert.git
[submodule "modules/core"]
	path = modules/core
	url = git@github.com:boostorg/core.git
[submodule "modules/iterator"]
	path = modules/iterator
	url = git@github.com:boostorg/iterator.git
