[submodule "modules/uuid"]
	path = modules/uuid
	url = git@github.com:boostorg/uuid.git
[submodule "modules/config"]
	path = modules/config
	url = git@github.com:boostorg/config.git
[submodule "modules/type_traits"]
	path = modules/type_traits
	url = git@github.com:boostorg/type_traits.git
[submodule "modules/mpl"]
	path = modules/mpl
	url = git@github.com:boostorg/mpl.git
[submodule "modules/preprocessor"]
	path = modules/preprocessor
	url = git@github.com:boostorg/preprocessor.git
[submodule "modules/throw_exception"]
	path = modules/throw_exception
	url = git@github.com:boostorg/throw_exception.git
[submodule "modules/assert"]
	path = modules/assert
	url = git@github.com:boostorg/assert.git
[submodule "modules/static_assert"]
	path = modules/static_assert
	url = git@github.com:boostorg/static_assert.git
[submodule "modules/core"]
	path = modules/core
	url = git@github.com:boostorg/core.git
[submodule "modules/iterator"]
	path = modules/iterator
	url = git@github.com:boostorg/iterator.git
[submodule "modules/detail"]
	path = modules/detail
	url = git@github.com:boostorg/detail.git
[submodule "modules/system"]
	path = modules/system
	url = git@github.com:boostorg/system.git
[submodule "modules/predef"]
	path = modules/predef
	url = git@github.com:boostorg/predef.git
[submodule "modules/integer"]
	path = modules/integer
	url = git@github.com:boostorg/integer.git
[submodule "modules/smart_ptr"]
	path = modules/smart_ptr
	url = git@github.com:boostorg/smart_ptr.git
[submodule "modules/random"]
	path = modules/random
	url = git@github.com:boostorg/random.git
[submodule "modules/range"]
	path = modules/range
	url = git@github.com:boostorg/range.git
[submodule "modules/concept_check"]
	path = modules/concept_check
	url = git@github.com:boostorg/concept_check.git
[submodule "modules/utility"]
	path = modules/utility
	url = git@github.com:boostorg/utility.git
[submodule "modules/io"]
	path = modules/io
	url = git@github.com:boostorg/io.git
[submodule "modules/signals2"]
	path = modules/signals2
	url = git@github.com:boostorg/signals2.git
